form {
  border: 10px solid #ceeda5c2;
  padding: 16px;
  backdrop-filter: blur(50px);
  border-radius: 15px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 97%;
  padding: 15px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius:5px
}
/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  
  background: url('1.jpg')no-repeat;
  background-position: center;
  background-size: cover;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
b{
  color: #161170;
}